lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

tmp
pids
logs
results
public 
dist

npm-debug.log
node_modules
.esm-cache
.DS*

# Certificates
assets/certs/ca/
assets/certs/config/
assets/certs/keys/