HostbasedAuthentication yes
IgnoreUserKnownHosts yes
IgnoreRhosts yes
HostbasedUsesNameFromPacketOnly yes
TrustedUserCAKeys /etc/ssh/ca-local.pub

HostCertificate /etc/ssh/ssh_host_rsa_key-cert.pub

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

UsePAM yes
X11Forwarding no
PrintMotd no
useDNS yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
