{{ partial "header_tutorial.html" . }}
{{ partial "header_wetty.html" . }}

{{ $tutorials := (sort (where (where .Data.Pages "Type" "tutorials") ".Params.hidden" "!=" "true" ) ".Params.position" "ascs") }}
{{ $numTutorials := len $tutorials }}

<script>
  function updatePanelItems(delta)
  {
      var $items = $('#guidance-group').children();
      var $current = $items.filter('.current');
      var index = $current.index();
      var newIndex = index+delta;
      // Range check the new index
      newIndex = (newIndex < 0) ? 0 : ((newIndex > $items.length) ? $items.length : newIndex);
      if (newIndex != index) {
          $current.removeClass('current');
          $current = $items.eq(newIndex).addClass('current');
          // Hide/show the next/prev
          $("#guidance-btn-back").toggle(!$current.is($items.first()));
          $("#guidance-btn-next").toggle(!$current.is($items.last()));
      }
  }
  $( document ).ready(function() {
    $("#guidance-btn-back").click(function () {
        updatePanelItems(-1);
    });
    $("#guidance-btn-next").click(function () {
        updatePanelItems(+1);
    });

    $("#guidance-btn-back").toggle(false);
  });
</script>

<div class="container">
  <div class="guidance">
    <div class="panels" id="guidance-group">
      {{ range $index, $page := $tutorials  }}
      <div class="panel panel-position-{{ $index }} {{ if $index | not }}current{{ end }}">
      {{ .Render "tutorial" }}
      </div>
      {{ end }}
    </div>
    <div class="navigation">
      <a class="btn" id="guidance-btn-back">Back</a>
      <a class="btn" id="guidance-btn-next">Next</a>
    </div>
  </div>
  <div class="workarea">
    {{ partial "wetty" }}
  </div>
</div>
{{ partial "footer_tutorial.html" . }}
